body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Make the navbar sticky */
nav.navbar { 
    position: fixed; 
    top: 0;          
    width: 100%;     
    z-index: 1000;   
}

/* Map Container Styling */
#map-container {
  height: calc(100vh - 165px);  /* Increase space subtracted for the legend */
  position: relative; 
  padding-top: 60px; /* Adjust this value to match your navbar's height */
}

#map {
  height: 100%;
}

/* Legend Styling */
.info.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  color: black; 
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  border-radius: 5px;
  line-height: 24px;

  max-height: 2000px; /* Set a fixed max-height for the legend */
  overflow-y: auto;
  white-space: nowrap; /* Prevent text from wrapping */
  width: 250px;
  box-sizing: border-box;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px; 
  display: block;   
  margin-top: 0 !important; /* Explicitly override top margin */
}

.legend-title h3 {
  margin-top: 0; 
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  margin-top: 4px;
  opacity: 0.7;
  clear: both;
}

.map-filters {
  margin-bottom: 15px; /* Add bottom margin to create space between filters and map */
}

.marker-cluster-small, 
.marker-cluster-medium, 
.marker-cluster-large {
  background-color: rgba(0, 128, 255, 0.3) !important; /* Light blue with transparency */
  width: 20px !important;             /* Reduced size */
  height: 20px !important;
  border-radius: 50% !important;    /* Make it a circle */
  border: 1px solid blue !important; /* Add a blue border (optional) */
}

.marker-cluster div {
  display: none !important; /* Hide the number inside the cluster */
}

/* Optional: Add a subtle hover effect */
.marker-cluster:hover {
  border-color: blue !important; /* Change border color on hover (optional) */
}

/* Add top margin to headers/titles to avoid overlap with the navbar */
h1, h2, h3, h4, h5, h6 { /* Target all heading levels */
  margin-top: 50px; /* Adjust this value to match your navbar's height plus some extra spacing */
  margin-bottom:20px;
}